<head>
	<h1>Harris Biomedical Scheduling Software</h1>
	<%= stylesheet_link_tag "welcome" %>
</head>

<body>
  <h2> Calendar </h2>
  <%= month_calendar events: @events do |date, events | %>
      <%= date.day %>
      <% @events.select{ |m| m.start_time.to_date == date }.each do |event| %>
      	<div>
      	  <%= Client.find(event.client_name).name %>
          <%= event.start_time.strftime("%l:%M") %>
        </div>
      <% end %>
  <% end %>
  <br></br>
  
</body>
