<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
    <%= form.label :course %>
    <%= form.collection_select :course, Course.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :renewal? %>
    <%= form.select( :renewal, options_for_select(['renewal', 'initial'], 'renewal'), {}) %>
  </div>

  <div class="field">
    <%= form.label :format %>
    <%= form.select( :format, options_for_select(['live', 'webinar'], 'live'), {}) %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_field :start_time, :ampm => true, :minute_step => 15 %>
  </div>

  <div class="field">
    <%= form.label :trainer %>
    <%= form.collection_select :trainer_id, Trainer.all, :id, :name  %>
  </div>

  <div class="field">
    <%= form.label :num_students %>
    <%= form.select( :num_students, options_for_select(0..100), {}) %>
  </div>

  <div class="field">
    <%= form.label :requested_by %>
    <%= form.text_field :requested_by %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
