<!DOCTYPE html>
<html>
<head>
  <title>Scheduler</title>
  <%= stylesheet_link_tag "style" %>
</head>
<div>
	<%= link_to 'New Event', new_event_path %>
	<%= link_to 'View All Events', events_path %>
	<%= link_to 'Upload Client Data', clients_index_path %>
<div class="container">
  <body>
    <%= yield %>

  </body>
</div>
</html>